# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Ignorar node_modules del backend y frontend
node_modules/
Backend-TecWeb-ProyectoFinal/node_modules/

# Ignorar otros archivos temporales
dist/
out-tsc/
.vscode/
.env
*.env
.DS_Store
Thumbs.db


# Node
tecweb-proyectofinal-2025-firebase-adminsdk-fbsvc-9fe89c0390.json
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Firebase
.firebase
*-debug.log
.runtimeconfig.json

#enviroments
#/src/environments/environment*.ts
