html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    background-color: black; 
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Contraste alto */
.high-contrast {
  background-color: #000 !important;
  color: #fff !important;
}

.high-contrast a,
.high-contrast p,
.high-contrast h1, 
.high-contrast h2, 
.high-contrast h3 {
  color: yellow !important;
  background-color: black !important;
}


/* Fuentes accesibles (puedes agregar más si lo deseas) */
body {
  font-family: Arial, sans-serif;
  transition: font-size 0.3s ease;
}
